<%- include('../includes/head.ejs')%>
<div class="wrapper">
    <div class="card">
        <form class="login-form" method="POST" action="/login">
            <input type="text" name="username" placeholder="USUÃRIO">
            <input type="password" name="senha" placeholder="SENHA">
            <button type="submit">ENTRAR</button>
        </form>
    </div>
</div>