<nav>
    <span class="back-button" onclick="window.history.back()">
        <div style="width: 22px;">
            <img src="/imgs/icons/seta-voltar.svg" style="width: 100%;">
        </div>
    </span>
    <h3 class="mobile-nav-open-icon system-title">
        <span class="font-light">Eco</span><span class="font-regular">Living</span>
    </h3>
    <span onclick="openNav()" class="mobile-nav-open-icon" id="mobile-nav-open-icon">
        <div style="width: 22px;">
            <img src="/imgs/icons/menu-burger.svg" style="width: 100%;">
        </div>
    </span>
</nav>
<div class="backdrop-container" id="backdrop"></div>
<div id="mySidenav" class="sidenav-container">
    <span class="drawer-close-button">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    </span>
    <a href="/" onclick="closeNav()"><i class="fa-solid fa-table-columns"></i>Início</a>
    <a href="/mudar-senha" onclick="closeNav()">Redefinir Senha</a>
    <% if(user.is_admin === 1){ %>
        <a onclick="closeNav()" href="/add-unidade">Adicionar Unidade</a>
        <a onclick="closeNav()" href="/add-user">Adicionar Usuário</a>
        <a onclick="closeNav()" href="/list-user">Listar Usuários</a>
    <% } %>
    <a href="/sobre" onclick="closeNav()">Sobre</a>
    <form class="last-block" action="/logout" method="POST">
        <button type="submit">Sair</button>
    </form>
</div>
<script src="/js/navbar.js"></script>