<nav>
    <span class="back-button" onclick="window.history.back()">
        <div style="width: 40px;">
            <img src="/imgs/turn_back.png" style="width: 100%;">
        </div>
    </span>
    <span onclick="openNav()" class="mobile-nav-open-icon" id="mobile-nav-open-icon">
        <div style="width: 40px;">
            <img src="/imgs/menu.png" style="width: 100%;">
        </div>
        
    </span>
</nav>
<div class="backdrop-container" id="backdrop"></div>
<div id="mySidenav" class="sidenav-container">
    <span class="drawer-close-button">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    </span>
    <a href="/" onclick="closeNav()"><i class="fa-solid fa-table-columns"></i>Início</a>
    <a href="/">Minha Conta</a>
    <% if(user.is_admin === 1){ %>
        <a href="/add-unidade">Adicionar Unidade</a>
        <a href="*">Adicionar Usuário</a>
    <% } %>
    <form class="last-block" action="/logout" method="POST">
        <button type="submit">Sair</button>
    </form>
</div>
<script src="/js/navbar.js"></script>