<%- include('includes/head.ejs')%>
</head>
<body>
    <% if(user){ %>
        <%- include('includes/nav.ejs')  %> 
    <% } %>
    <div class="wrapper">
        <div class="card">
            <header class="main-header">
               <h1>404</h1>
               <p>Página não encontrada :(</p>
          </header>
        </div>
      </div>
</body>
</html>