<%- include('includes/head.ejs')%>
  </head>
  <body>
    <%- include('includes/nav.ejs') %>
    <div class="index-menu">
      <% if(unidade.length > 0){ %>
        <% for(u of unidade){ %>
          <a href="/unidade/<%= u.id %>">
            <div class="item">
              <img src="<%= u.img %>">
            </div>
          </a>
        <% } %>
      <% } else { %>
        Nenhuma unidade encontrada.
      <% } %>
    </div>
  </body>
</html>