<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Acompanhamento de Serviços</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,400;6..12,500;6..12,600;6..12,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/buttons.css">
  </head>
  <body>
    <a href="/add-unidade" class="add-unidade">+</a>
    <% for(u of unidade){ %>
      <div class="wrapper">
        <div class="card">
      <header class="main-header">
        <div class="brand">
          <div class="imagem-ficha">
            <img src="<%= u.img %>" alt="" class="logo">
          </div>
          <h1 class="name"><%= u.nome %></h1>
        </div>
      </header>
      <main class="main-content">
        <div class="scrolling-container">
          <section id="idv">
            <h3 class="section-title">Identidade Visual</h3>
            <div class="progress">
              <div class="progress-bar" role="progressbar" style="width: 50%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <ul class="items-list">
              <li>
                <span class="item-name">Logotipo</span>
                <div class="status done">Pronto</div>
              </li>
              <li>
                <span class="item-name">Manual de Identidade Visual</span>
                <div class="status doing">Em produção</div>
              </li>
            </ul>
          </section>
          <section id="website">
            <h3 class="section-title">Website</h3>
            <div class="progress">
              <div class="progress-bar" role="progressbar" style="width: 100%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <ul class="items-list">
              <li>
                <span class="item-name">Domínio</span>
                <div class="status done">Pronto</div>
              </li>
              <li>
                <span class="item-name">Hospedagem</span>
                <div class="status done">Pronto</div>
              </li>
              <li>
                <span class="item-name">Página Web</span>
                <div class="status done">Pronto</div>
              </li>
            </ul>
          </section>
          <section id="website">
            <h3 class="section-title">Redes Sociais</h3>
            <div class="progress">
              <div class="progress-bar" role="progressbar" style="width: 100%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <ul class="items-list">
              <li>
                <span class="item-name">Instagram</span>
                <div class="status done">Pronto</div>
              </li>
              <li>
                <span class="item-name">WhatsApp</span>
                <div class="status null">Inexiste</div>
              </li>
              <li>
                <span class="item-name">Facebook</span>
                <div class="status done">Pronto</div>
              </li>
              <li>
                <span class="item-name">Threads</span>
                <div class="status">N/A</div>
              </li>
              <li>
                <span class="item-name">X (Twitter)</span>
                <div class="status null">Inexiste</div>
              </li>
              <li>
                <span class="item-name">Tik Tok</span>
                <div class="status">N/A</div>
              </li>
            </ul>
          </section>
        </div>
      </main>
    </div>
    </div>
    <% } %>
    <script src="" async defer></script>
  </body>
</html>