.add-unidade {
    position: fixed;
    bottom: 1em;
    right: 15px;
    border-radius: 8px 0px 0px 8px;
    width: 45px;
    height: 45px;
    background-color: #1a961873;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    color: white;
    text-decoration: none;
}

.add-tema {
    width: 45px;
    height: 45px;
    background-color: #185d9673;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.excluir {
    width: 100%;
    background-color: #e04b4b;
    padding: 0.5rem;
    color: white;
    font-weight: 800;
    border: none;
    margin-top: 5rem;
    border-radius: 8px;
}

.confirma {
    width: 100%;
    background-color: #4be04b;
    padding: 0.5rem;
    color: #000000;
    font-weight: 800;
    border: none;
    border-radius: 8px;
    margin-top: 1.5rem;
}