
.campo-login {
    margin-top: 10%;
    display: flex;
    flex-flow: column nowrap;
    gap: 3em;
}

.login-img {
    margin: 0 auto;
    width: 10em;
}
.login-img img {
    width: 100%;
}

.board {
    background-color: var(--third-background-color);
    width: 80%;
    margin: 0 auto;
    border-radius: 8px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-content: center;
    color: var(--login-text);
}

.input-space {
    margin: 0 auto;
    display: flex;
    flex-flow: column;
    width: 100%;
}

.login-form {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    gap: 2em;
    padding: 2em;
}

.login-form input {
    padding: 0.5em;
    background-color: transparent;
    border: none;
    outline: none;
    border-bottom: 1px solid var(--text-color);
}

.login-form ::placeholder {
    color: var(--login-text);
    opacity: 0.75; /* Firefox */
  }

.input-space button {
    background-color: var(--login-text);
    border: none;
    padding: 0.5rem;
    color: var(--text-color2);
    border-radius: 4px;
}