@import url('https://fonts.googleapis.com/css2?family=Mohave:wght@300;500&display=swap');

body {
    margin: 0;
    background-color: #E6EFEE;
    font: normal 1em "Nunito Sans", sans-serif; 
}

.system-title {
  display: table-cell;
  margin: 0 !important;
  font-family: 'Mohave', sans-serif;
  font-size: 24px !important ;
  color: #ffffff;
  text-align: center;
}
.font-light { font-weight: 300 }
.font-regular { font-weight: 500 }
  .wrapper {
      min-width: 360px;
      max-width: 450px;
      height: 100vh;
      margin: 2.8rem 0 auto;
      background-color: #e7eef0;
  }

  .main-header {
      padding: 16px;
      background-color: #e7eef0;
  }

nav {
    background-color: #7786f3 !important;
}

  .logo-container {
      width: 88px;
      height: 88px;
      margin: 0 auto;
      background-color: #b2b2b2;
      border-radius: 50%;
  }

  .name {
      margin-bottom: 0;
      font-size: 24px;
      text-align: center;
  }
  .main-content {
      height: calc(100% - 185px);
      padding: 24px;
      border-top-right-radius: 24px;
      border-top-left-radius: 24px;
      background-color: white;
  }

  .scrolling-container {
    height: 100%;
    overflow-y: auto;
  }

  .app-title {
      margin: 0 0 16px;
      font-size: 20px;
      font-weight: 500;
  }
  
  section {
      padding: 16px 0;
      border-bottom: solid 1px #E7E7E7;
  }

  .section-title {
      margin: 0 0 4px;
      font-size: 18px;
      font-weight: bold;
      color: #4d4d4d;
  }

  .progress {
      margin-top: 8px;
      background-color: lightgray;
      height: 10px;
      width: 100%;
      color: #f2f2f2;
      border-radius: 50px;
  }

  .progress-bar {
    height: 100%;
    background: linear-gradient(90.21deg, #6B0FDE 2.04%, #E31AF1 97.38%), #F2F2F2;
    border-radius: 50px;
  }

  .items-list {
      margin: 12px 0 0;
      padding-left: 18px;
      list-style-type: square;
      color: #4d4d4d;
  }
  
  .item-name {
      line-height: 1.8;
  }

  .status {
      display: inline-block;
      margin-left: 6px;
      background-color: #b1b1b1;
      padding: 3px;
      color: white;
      font-size: 10px;
      font-weight: bold;
      border-radius: 4px;
      text-transform: uppercase;
      vertical-align: middle;
  }

  .pronto {
    background-color: #1B9618;
  }

  .andamento {
    background-color: #E8922C;
  }

  .inexistente {
    background-color: #BD2D2D;
  }

  .card {
    display: flex;
    flex-flow: column;
  }

  .imagem-ficha {
    box-sizing: border-box;
    width: 8em;
    height: 8em;
    margin: 0 auto;
    padding: 24px;
    background-color: white;
    border-radius: 50%;
    overflow: hidden;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    /* box-shadow: 5px 5px 5px 2px #9c9c9c; */
}

.imagem-ficha img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center center;
}
.unity-title {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    align-items: stretch;
    justify-content: space-around;
}
.unity-title a {
    align-self: center;
}
.unity-title .espacamento {
    width: 2em;
}
.add-tema {
    background-color: #6B0FDE;
    border-radius: 8px;
    text-decoration: none;
    color: #fff;
}

/* Index */

.index-menu {
    margin: 4em 1em;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 12px;
}

.index-menu .item {
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    border-radius: 8px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 7px #d6d6d6;
    padding: 20px;
    box-sizing: border-box;
    overflow: hidden;
}

a {
    text-decoration: none;
    font-size: medium;
    color: #000;
}

.item img {
    width: 100%;
}

.porcentagem {
    color: #6D0FDE;
}

.unidade-nome {
    display: table-cell;
    text-align: center;
}
 
/* Index */

/* add-unidade forms */

.input-form .text-input{
    width: 90%;
    border: none;
    border-bottom: 2px solid black;
    padding: 0.5rem;
    font-size: 1rem;
}

.input-form .input-select {
    padding: 0.5rem;
    font-size: 1rem;
    width: 100%;
}

/* add-unidade forms */

/* The container */
.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}