body {
    margin: 0;
    background-color: #E6EFEE;
    font: normal 1em "Nunito Sans", sans-serif; 
}
  .wrapper {
      min-width: 360px;
      max-width: 450px;
      height: 100vh;
      margin: 2.8rem 0 auto;
      background-color: #e7eef0;
  }

  .main-header {
      padding: 16px;
      background-color: #e7eef0;
  }

  .logo-container {
      width: 88px;
      height: 88px;
      margin: 0 auto;
      background-color: #b2b2b2;
      border-radius: 50%;
  }

  .name {
      margin-bottom: 0;
      font-size: 24px;
      text-align: center;
  }
  .main-content {
      height: calc(100% - 185px);
      padding: 24px;
      border-top-right-radius: 24px;
      border-top-left-radius: 24px;
      background-color: white;
  }

  .scrolling-container {
    height: 100%;
    overflow-y: auto;
  }

  .app-title {
      margin: 0 0 16px;
      font-size: 20px;
      font-weight: 500;
  }
  
  section {
      padding: 16px 0;
      border-bottom: solid 1px #E7E7E7;
  }

  .section-title {
      margin: 0 0 4px;
      font-size: 18px;
      font-weight: bold;
      color: #4d4d4d;
  }

  .progress {
      margin-top: 8px;
      background-color: lightgray;
      height: 10px;
      width: 100%;
      color: #f2f2f2;
      border-radius: 50px;
  }

  .progress-bar {
    height: 100%;
    background: linear-gradient(90.21deg, #6B0FDE 2.04%, #E31AF1 97.38%), #F2F2F2;
    border-radius: 50px;
  }

  .items-list {
      margin: 12px 0 0;
      padding-left: 18px;
      list-style-type: square;
      color: #4d4d4d;
  }
  
  .item-name {
      line-height: 1.8;
  }

  .status {
      display: inline-block;
      margin-left: 6px;
      background-color: #b1b1b1;
      padding: 3px;
      color: white;
      font-size: 10px;
      font-weight: bold;
      border-radius: 4px;
      text-transform: uppercase;
      vertical-align: middle;
  }

  .pronto {
    background-color: #1B9618;
  }

  .andamento {
    background-color: #E8922C;
  }

  .inexistente {
    background-color: #BD2D2D;
  }

  .card {
    display: flex;
    flex-flow: column;
  }

  .imagem-ficha {
    margin: 0 auto;
    width: 8em;
    height: 8em;
    border-radius: 50%;
    overflow: hidden;
}
.imagem-ficha img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
}
.unity-title {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    align-items: stretch;
    justify-content: space-around;
}
.unity-title a {
    align-self: center;
}
.unity-title .espacamento {
    width: 2em;
}
.add-tema {
    background-color: #6B0FDE;
    border-radius: 8px;
    text-decoration: none;
    color: #fff;
}

/* Index */

.index-menu {
    margin-top: 5rem;
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
}

.index-menu .item {
    width: 6rem;
    height: 6.5rem;
    background-color: #ffffff;
    border-radius: 8px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 5px 5px 5px #d6d6d6;
    margin: 0.8rem;
}

a {
    text-decoration: none;
    font-size: medium;
    color: #000;
}

.item img {
    width: 80%;
}
 
/* Index */