nav {
    width: 100%;
    height: 2.8rem;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    position: fixed;
    top: 0;
    left: 0;
    font-size: 15rem;
    z-index: 1;
    background-color: white;
    box-shadow: 10px 1px 5px 1px #d6d6d6;
}

.mobile-nav-open-icon {
    margin-top: 3px;
    font-size: 2rem;
    cursor: pointer;
    color: black;
    margin-right: 1rem;
}

.fa-solid {
    width: 2.2rem;
    color: white;
}

.backdrop-container {
    display: none;
    position: fixed;
    z-index: 2;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    -webkit-animation: fadeIn 1s ease-in-out;
    animation: fadeIn 1s ease-in-out;
}

.sidenav-container {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 3;
    top: 0;
    left: 0;
    background-color: #000000be;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
}

.sidenav-container a {
    width: 80%;
    text-decoration: none;
    font-size: 1.25rem;
    color: #cfcfcf;
    display: block;
    transition: 0.3s;
    border: 1px solid #cfcfcf;
    border-radius: 8px;
    padding: 0.5rem;
}

.sidenav-container .closebtn {
    font-size: 2rem;
    font-weight: 700;
    color: white;
    margin-right: 2rem;
    border: none;
}

.sidenav-container .drawer-close-button {
    height: 3rem;
    align-self: flex-end;
    display: flex;
    justify-content: center;
    margin-bottom: 3rem;
}

.sidenav-container img {
    margin-left: 2rem;
    margin-top: 1rem;
}

.sub-menu-hidden {
    display: none;
}

.sub-menu-show {
    display: inline;
    margin-left: 1.2rem;
}

.last-block {
    margin-top: 5rem;
    width: 80%;
    text-decoration: none;
    display: flex;
    justify-content: center;
    transition: 0.3s;
    border: 1px solid #ff3939;
    border-radius: 8px;
    padding: 0.5rem;
}

.last-block button {
    
    border: none;
    background-color: transparent;
    font-size: 1.25rem;
    color: #ff3939;
}

.back-button {
    margin-top: 3px;
    font-size: 2rem;
    cursor: pointer;
    color: black;
    margin-left: 1rem;
}