<%- include('../includes/head.ejs')%>
</head>
<body>
    <%- include('../includes/nav.ejs')  %> 
    <div class="wrapper">
        <div class="card">
            <header class="main-header">
               <h2 style="color: var(--text-color); text-align: center;">Ecoliving</h2>
               <h3 style="color: var(--text-color);">Versão 1.2</h3>
               <h3 style="color: var(--text-color);">Autores:</h3>
               <ul style="color: var(--text-color);">
                    <li>Hierro Blado (Fullstack)</li>
                    <li>Jorge Monteiro Jr. (Frontend)</li>
               </ul>
               <a href="https://github.com/hlink27/eco-living">
                    <img style="height: 3em; width: 3em;" class="about-gh-icon" src="/imgs/icons/github.svg"></img>
               </a>
          </header>
        </div>
    </div>
</body>
</html>